body.night {
    background-color: #4C5760;
    color: #FFCF99;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #fff; */
    /* color: #444452; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 1.5;
    width: 100%;
}

.hello_intro {
    font-weight: 200;
}

.name {
    font-weight: 400;
}

.tagline_intro {
    font-weight: 200;
    max-width: 670px;
}

header.intro {
    padding: 120px;
}

.contact {
    font-weight: 200;
}

a {
    color: inherit;
    transition: all .2s ease-in-out;
    font-weight: 400;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #59A5D8;
    box-shadow: inset 0 -3px 0 #59A5D8;
}

a:hover{
    background-color: #59A5D8;
}

.scroll_more {
    font-size: 24px;
    font-weight: 200;
    text-align: center;
}
.section {
    padding: 50px;
    float: left;
}
.section_title {
    float: left;
    font-size: 18px;
    width: 200px;
    margin-left: 40px;
    margin-right: 100px;
    color: #FFCF99;
    text-transform: lowercase;
    text-align: right;
    font-weight: 400;
    letter-spacing: 2px;
}

.section_content {
    font-weight: 200;
    font-size: 18px;
    margin-right: 100px;
    max-width: 725px;
}

.left {
    float: left;
    margin-right: 100px;
}

.right {
    float: left;
    margin-left: 75px;
}