<!DOCTYPE html>
<html>
<head>
    <title>Mahir Piyarali, Software Engineer</title>
    <link rel="stylesheet" href="/static/base.css">
</head>
<body class="night">
    <header class="intro">
    <!-- <div class="introstuff"> -->
      <img src="/static/mahirnbc-20.jpeg" alt="me" align="top"></img>
      <div class="hello_intro">Hello!<br></br></div>
      <div class="tagline_intro">
          I'm
          <span class="name">Mahir Piyarali,</span>
           a double major in Computer Science and Data Science at the University of Michigan.
           <br></br>
      </div>
      <div class="contact">
        <span>Contact me: </span> <a href="mailto:mahirpiy@umich.edu">mahirpiy@umich.edu</a>
        <pre></pre>
        <span>Other links: </span> <a href="https://www.linkedin.com/in/mahir-piyarali/" class="sublink">LinkedIn</a>, <a href="https://github.com/mahirumich" class="sublink">GitHub</a>
      </div>
    <!-- </div> -->
    <!-- <div class="introimg">
      <img src="/static/mahirnbc-20.jpeg" alt="me" align="top"></img>
    </div> -->
    <!-- <br></br> -->
  </header>
    <div class="scroll_more">scroll down to learn more about me and my work</div>
    <!-- </header> -->
    <br></br>
    <br></br>
    <section>
      <div class="section_title left">about me</div>
      <div class="section_content right">
            I'm rising senior at the
                <a href="https://cse.engin.umich.edu/">University of Michigan</a> doing a double major
                in Computer Science and Data Science. My coursework includes Web Systems,
                Introduction to Machine Learning, Introduction to Cybersecurity, and Conversational Artificial
                Intelligence. This summer, I'll be working as a Software Engineering Intern with
                <a href="https://www.f5.com/">F5 Networks</a>
                in my hometown of Seattle, Washington.

            <p>
              My current interests are cloud computing, distributed systems,
              cybersecurity, and artificial intelligence. I'm passionate about
              all things data, and believe that when used correctly, the era of big data has the
              potential to contribute positive change in all of our lives.
            </p>
            <p>
              I'm experienced in multiple programming languages and frameworks. My rich
              mathematical background allows me to solve complex problems. As an engineer, I enjoy
              adapting to challenges, learning new technologies, and pushing my boundaries in both comfort
              and problem solving. I'm always thinking about the bigger picture, ensuring my products are scalable,
              fault-tolerant, and secure.
            </p>
            <p><strong>When I'm not in front of my computer screen</strong>, I'm either watching the Seattle
              Mariners lose another ballgame, out on a run, or spending time with friends and making new memories.
            </p>
        </div>
    </section>
    <section>
      <div class="section_title left">Skills</div>
      <div class="section_content right">
        <div class="skills_category">
          <div class="skills_cat_label">Languages</div>
          <ul>
            <li class="skills_item">Python</li>
            <li class="skills_item">C/C++</li>
            <li class="skills_item">JavaScript</li>
            <li class="skills_item">R</li>
            <li class="skills_item">HTML/CSS</li>
            <li class="skills_item">SQL</li>
            <li class="skills_item">GoLang</li>
          </ul>
        </div>
        <div class="skills_category">
          <div class="skills_cat_label">Technologies</div>
          <ul>
            <li class="skills_item">Flask</li>
            <li class="skills_item">React</li>
            <li class="skills_item">AWS</li>
            <li class="skills_item">NoSQL</li>
            <li class="skills_item">Docker</li>
            <li class="skills_item">Kubernetes</li>
            <li class="skills_item">Hadoop</li>
          </ul>
        </div>
        <div class="skills_category">
          <div class="skills_cat_label">Tools</div>
          <ul>
            <li class="skills_item">Git</li>
            <li class="skills_item">MySQL/PostgrSQL</li>
            <li class="skills_item">F5 Big-IP</li>
            <li class="skills_item">nginx</li>
            <li class="skills_item">VS Code</li>
            <li class="skills_item">XCode</li>
          </ul>
        </div>
        <div class="skills_category">
          <div class="skills_cat_label">Interests</div>
          <ul>
            <li class="skills_item">test</li>
          </ul>
        </div>

      </div>
    </section>
    <section>
      <div class="section_title left">experience</div>
      <div class="section_content">
        <div class="exp_item">
          <div class="exp_place">F5 Networks</div>
          <div class="exp_title">Software Engineering Intern</div>
          <div class="exp_time">May - August 2021</div>
        </div>
        <div class="exp_item">
          <div class="exp_place">balk the talk</div>
          <div class="exp_title">Blog Writer and Co-Founder</div>
          <div class="exp_time">July 2019 - Present</div>
        </div>
        <div class="exp_item">
          <div class="exp_place">umich School of public health</div>
          <div class="exp_title">Research Assistant</div>
          <div class="exp_time">October 2019 - May 2020</div>
        </div>
        <div class="exp_item">
          <div class="exp_place">the Seattle Times</div>
          <div class="exp_title">Data Journalist Shadow</div>
          <div class="exp_time">Spring 2018</div>
        </div>
        <div class="exp_item">
          <div class="resume">Looking for more? <a href="/static/mahirpiyarali_apr2021.pdf" target="blank">Check out my resume</a></div>
        </div>
      </div>
    </section>
    <section>
      <div class="section_title left">projects</div>
      <div class="section_content">test test test test test test</div>
    </section>
    <br></br>
    <pre></pre>
</body>
</html>
