<!DOCTYPE html>
<html>
<head>
    <title>Mahir Piyarali, Software Engineer</title>
    <link rel="stylesheet" href="/static/base.css">
</head>
<body class="night">
    <header class="intro">
    <div class="hello_intro">Hello!<br></br></div>
    <div class="tagline_intro">
        I'm 
        <span class="name">Mahir Piyarali,</span>
         a double major in Computer Science and Data Science at the University of Michigan
         <br></br>
    </div>
    <div class="contact">
    <span>Contact me: </span> <a href="mailto:mahirpiy@umich.edu">mahirpiy@umich.edu</a>
    <pre></pre>
    <span>Other links: </span> <a href="https://www.linkedin.com/in/mahir-piyarali/" class="sublink">LinkedIn</a>, <a href="https://github.com/mahirumich" class="sublink">GitHub</a>
    </div>
    <br></br>
    <div class="scroll_more">scroll down to learn more about me!</div>
    </header>
    <br></br>
    <section class="background">
        <div class="section_title left">Background</div>
        <div class="section_content right"> 
            <p>I'm currently a junior at the 
                <a href="https://cse.engin.umich.edu/">University of Michigan</a> doing a double major 
                in Computer Science and Data Science. My current courses include Web Systems, 
                Intro to Machine Learning, and Intro to Computer Organization.
                This summer, I'll be working as a Software Engineering Intern at
                <a href="www.f5.com">F5 Networks</a>
                in my hometown of Seattle, Washington.
            </p>
        </div>
    </section>
    <section></section>
</body>
</html>