<!DOCTYPE html>
<html>
<head>
    <title>Mahir Piyarali, Software Engineer</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/base.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap" rel="stylesheet"> -->
</head>
<body class="night">
    <header class="intro">
    <!-- <div class="introstuff"> -->
      <img src="/static/mahirnbc-20.jpeg" alt="me" align="top"></img>
      <div class="hello_intro">Hello!<br></br></div>
      <div class="tagline_intro">
          I'm
          <span class="name">Mahir Piyarali,</span>
           a double major in Computer Science and Data Science at the University of Michigan.
           <br></br>
      </div>
      <div class="contact">
        <span>Contact me: </span> <a href="mailto:mp@mahirpiyarali.com">mp@mahirpiyarali.com</a>
        <pre></pre>
        <span>Other links: </span> <a href="https://www.linkedin.com/in/mahir-piyarali/" class="sublink">LinkedIn</a>, <a href="https://github.com/mahirumich" class="sublink">GitHub</a>
      </div>
    <!-- </div> -->
    <!-- <div class="introimg">
      <img src="/static/mahirnbc-20.jpeg" alt="me" align="top"></img>
    </div> -->
    <!-- <br></br> -->
  </header>
  <!-- <span class="material-icons-outlined">expand_more</span> -->
    <!-- <div class="scroll_more">scroll down to learn more about me and my work</div> -->
    <!-- </header> -->
    <br></br>
    <br></br>
    <section>
      <div class="section_title left">about me</div>
      <div class="section_content right">
            I'm rising senior at the
                <a href="https://cse.engin.umich.edu/">University of Michigan</a> doing a double major
                in Computer Science and Data Science. My coursework includes Web Systems,
                Introduction to Machine Learning, Introduction to Cybersecurity, and Conversational Artificial
                Intelligence. This summer, I'll be working as a Software Engineering Intern with
                <a href="https://www.f5.com/">F5 Networks</a>
                in my hometown of Seattle, Washington.

            <p>
              My current interests are cloud computing, distributed systems,
              cybersecurity, and artificial intelligence. I'm passionate about
              all things data, and believe that when used correctly, the era of big data has the
              potential to contribute positive change in all of our lives.
            </p>
            <p>
              I'm experienced in multiple programming languages and frameworks. My rich
              mathematical background allows me to solve complex problems. As an engineer, I enjoy
              adapting to challenges, learning new technologies, and pushing my boundaries in both comfort
              and problem solving. I'm always thinking about the bigger picture, ensuring my products are scalable,
              fault-tolerant, and secure.
            </p>
            <p><span class="name">When I'm not in front of my computer screen</span>, I'm either watching the Seattle
              Mariners lose another ballgame, out on a run, or spending time with friends and making new memories.
            </p>
        </div>
    </section>
    <hr></hr>
    <section>
      <div class="section_title left">Skills</div>
      <div class="section_content right">
        <div class="skills_category">
          <div class="skills_cat_label">Languages</div>
          <ul>
            <li class="skills_item">Python</li>
            <li class="skills_item">C/C++</li>
            <li class="skills_item">JavaScript</li>
            <li class="skills_item">R</li>
            <li class="skills_item">HTML/CSS</li>
            <li class="skills_item">SQL</li>
            <li class="skills_item">GoLang</li>
          </ul>
        </div>
        <div class="skills_category">
          <div class="skills_cat_label">Technologies</div>
          <ul>
            <li class="skills_item">Flask</li>
            <li class="skills_item">React</li>
            <li class="skills_item">AWS</li>
            <li class="skills_item">NoSQL</li>
            <li class="skills_item">Docker</li>
            <li class="skills_item">Kubernetes</li>
            <li class="skills_item">Hadoop</li>
          </ul>
        </div>
        <div class="skills_category">
          <div class="skills_cat_label">Tools</div>
          <ul>
            <li class="skills_item">Git</li>
            <li class="skill_item">GitHub Pages (this site!)</li>
            <li class="skills_item">MySQL/PostgreSQL</li>
            <li class="skills_item">F5 Big-IP</li>
            <li class="skills_item">nginx</li>
            <li class="skills_item">VS Code</li>
            <li class="skills_item">XCode</li>
          </ul>
        </div>
        <!-- <div class="skills_category">
          <div class="skills_cat_label">Interests</div>
          <ul>
            <li class="skills_item">test</li>
          </ul>
        </div> -->
      </div>
    </section>
    <hr></hr>
    <section>
      <div class="section_title left">experience</div>
      <div class="section_content">
        <div class="exp_item">
          <div class="exp_place">F5 Networks</div>
          <div class="exp_title">Software Engineering Intern</div>
          <div class="exp_time">May - August 2021</div>
        </div>
        <!-- <div class="exp_item">
          <div class="exp_place">balk the talk</div>
          <div class="exp_title">MLB Blog Writer and Co-Founder</div>
          <div class="exp_time">July 2019 - Present</div>
        </div> -->
        <div class="exp_item">
          <div class="exp_place">umich School of public health</div>
          <div class="exp_title">Research Assistant</div>
          <div class="exp_time">October 2019 - May 2020</div>
        </div>
        <div class="exp_item">
          <div class="exp_place">the Seattle Times</div>
          <div class="exp_title">Data Journalist Shadow</div>
          <div class="exp_time">Spring 2018</div>
        </div>
        <div class="exp_item">
          <div class="resume">Looking for more? <a href="/static/mahirpiyarali_apr2021.pdf" target="blank">Check out my resume</a></div>
        </div>
      </div>
    </section>
    <hr></hr>
    <section>
      <div class="section_title left">projects</div>
      <div class="section_content">
        <div class="exp_item">
          <div class="exp_place">mahirpiyarali.com (this site!)</div>
          <div class="exp_title">A simple, Frozen-Flask static site deployed using GitHub Pages</div>
          <div class="exp_tech">Python (Flask), HTML/CSS, GitHub Pages</div>
          <div class="exp_time">Winter 2021</div>
          <div class="class_proj">Check out the code <a href=https://github.com/mahirumich/personal-site>here!</a></div>
        </div>
        <div class="exp_item">
          <div class="exp_place">Wikipedia search engine</div>
          <div class="exp_title">A search engine for Wikipedia articles, implemented using PageRank and term frequency–inverse document frequency</div>
          <div class="exp_tech">Python (Flask), Hadoop, MySQL, RESTful APIs, HTML/CSS</div>
          <div class="exp_time">Winter 2021</div>
          <div class="class_proj">This was a project for my Web Systems class and the code is in a private repository. <a href="#contact_info">Contact me</a> if you want to take a look!</div>
        </div>
        <div class="exp_item">
          <div class="exp_place">insta485</div>
          <div class="exp_title">Fully-functional Instagram clone, users can follow one another, post photos and comment</div>
          <div class="exp_tech">Python (Flask), JavaScript (React), MySQL, AWS, RESTful APIs, HTML/CSS</div>
          <div class="exp_time">Winter 2021</div>
          <div class="class_proj">This was a project for my Web Systems class and the code is in a private repository. <a href="#contact_info">Contact me</a> if you want to take a look!</div>
        </div>
        <div class="exp_item">
          <div class="exp_place">dog-id</div>
          <div class="exp_title">A deep-learning, convolutional neural network algorithm that identifies a dog's breed from a photo</div>
          <div class="exp_tech">Python (PyTorch, SciKit-Learn)</div>
          <div class="exp_time">Winter 2021</div>
          <div class="class_proj">This was a project for my Machine Learning class and the code is in a private repository. <a href="#contact_info">Contact me</a> if you want to take a look!</div>
        </div>
        <!-- <div class-"exp_item">
          <div class="exp_place">euchre simulator</div>
          <div class="exp_title">Command line euchre (card game) emulator. Allows users to play against one another or play against the computer who uses basic strategy</div>
          <div class="exp_tech">C++</div>
          <div class="exp_time">Fall 2019</div>
          <div class="class_proj">This was a project for my Data Structures class and the code is in a private repository. <a href="mailto:mp@mahirpiyarali.com">Contact me</a> if you want to take a look!</div>
        </div> -->
      </div>
    </section>
    <hr></hr>
    <section>
      <div class="section_title left">contact info</div>
      <div class="section_content" id="contact_info">
        <div class="contact">Email: <a href="mailto:mp@mahirpiyarali.com">mp@mahirpiyarali.com</a></div>
        <div class="contact">Github: <a href="https://github.com/mahirumich">@mahirumich</a></div>
        <div class="contact">LinkedIn: <a href="https://www.linkedin.com/in/mahir-piyarali/">mahir-piyarali</a></div>
        <div class="contact">Twitter: <a href="https://twitter.com/mahirpiyarali">@mahirpiyarali</a></div>
      </div>
    </section>
    <hr></hr>
    <br></br>
    <pre></pre>
</body>
</html>
